h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h2{
    padding-left: 5%;
}

nav {
background-color: black ;

}
nav  a {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    padding-left: 3%;
}
img{
    border-radius: 50%;
    float:right;
    height: "150";

}
footer{
    background-color:lightgray;
    color:black;
    padding-left: 3%;
}

div{
    background-color: white;
    font-family: "Arial";
}
